<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Custom CSS link -->
    <link rel="stylesheet" type="text/css" href="../css/addEmployee.css">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-house icon"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-calendar icon"></i> Schedule </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" id="drop1" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-calendar-plus icon"></i> Create Schedule</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square icon"></i> Edit Schedule</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-eye icon"></i> View Schedule</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user-group icon"></i> Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-arrow-right-arrow-left icon"></i> Shift Change</a>
                    </li>
                    <li class="nav-item dropdown current">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-briefcase icon"></i> Management </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#" id="cur"><i class="fa-solid fa-user-plus icon"></i> Add Employee</a></li>
                            <li><a class="dropdown-item" href="#" id="curNei1"><i class="fa-solid fa-user-minus icon"></i> Remove Employee</a></li>
                            <li><a class="dropdown-item" href="#" id="curNei2"><i class="fa-solid fa-user-plus icon"></i> Add Manager</a></li>
                            <li><a class="dropdown-item" href="#" id="curNei3"><i class="fa-solid fa-user-minus icon"></i> Remove Manager</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    
            <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
                <ul class="navbar-nav ms-auto buttons">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="btn btn-sm btn-primary prof-btn" type="submit">My Profile</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="btn btn-sm btn-primary log-btn" type="submit" onclick="location.href='/'">Log Out</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container" id="container2">
        <div class="header">
            Add Employee
        </div>
        <form action="/addEmployee" method="post" class="form" id="form">
            <div class="row">
                <div class="col-md-6 control">
                    <label for="fName">First Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="First name" id="fName" name="fName">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="lName">Last Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Last name" id="lName" name="lName">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="Address">Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="phone">Phone Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="(xxx) xxx- xxx">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="dob">Date of Birth</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <input type="date" class="form-control" name="dob" id="dob">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <input type="email" name="email" id="email" class="form-control" placeholder="abc123@email.com">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 control">
                    <label for="bankAccount">Bank Account Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-building-columns"></i>
                            </div>
                        </div>
                        <input type="text" name="bankAccount" id="bankAccount" class="form-control">
                    </div>
                    <small>Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="sinNumber">SIN Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-regular fa-hashtag"></i>
                            </div>
                        </div>
                        <input type="text" name="sinNumber" id="sinNumber" class="form-control">
                    </div>
                    <small>Error message</small>
                </div>
            </div>
            <div class="row control">
                <div class="col-md-6 control">
                    <label for="avail" id="avail">Availability</label>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="monday">
                                <label for="monday" class="form-check-label">Monday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="mon-options" id="mon-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="tuesday">
                                <label for="tuesday" class="form-check-label">Tuesday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="tue-options" id="tue-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="wednesday">
                                <label for="wednesday" class="form-check-label">Wednesday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="wed-options" id="wed-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="thursday">
                                <label for="thursday" class="form-check-label">Thursday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="thurs-options" id="thurs-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="friday">
                                <label for="friday" class="form-check-label">Friday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="fri-options" id="fri-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="saturday">
                                <label for="saturday" class="form-check-label">Saturday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="sat-options" id="sat-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <div class="row control">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="sunday" value="sunday">
                                <label for="sunday" class="form-check-label">Sunday</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="sun-options" id="sun-options" class="form-select" disabled>
                                <option value="day">Day</option>
                                <option value="night">Night</option>
                                <option value="allDay">All Day</option>
                            </select>
                        </div>
                    </div>
                    <small class="avail">Error message</small>
                </div>
                <div class="col-md-6 control">
                    <label for="wage">Wage (per hour)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-money-bill-1"></i>
                            </div>
                        </div>
                        <input type="text" name="wage" id="wage">
                    </div>
                    <small class="wage">Error message</small>
                </div>
            </div>
            <div class="cen">
                <button type="submit" id="subBut">Submit</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    
    <!-- Link for using Axios to send requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const form = document.querySelector("#form");
        const fName = document.querySelector("#fName");
        const lName = document.querySelector("#lName");
        const address = document.querySelector("#address");
        const phone = document.querySelector("#phone");
        const dob = document.querySelector("#dob");
        const email = document.querySelector("#email");
        const bankAccount = document.querySelector("#bankAccount");
        const sinNumber = document.querySelector("#sinNumber");
        const avail = document.querySelector("#avail");
        const monday = document.querySelector("#monday");
        const tuesday = document.querySelector("#tuesday");
        const wednesday = document.querySelector("#wednesday");
        const thursday = document.querySelector("#thursday");
        const friday = document.querySelector("#friday");
        const saturday = document.querySelector("#saturday");
        const sunday = document.querySelector("#sunday");
        const mon_choice = document.querySelector("#mon-options");
        const tue_choice = document.querySelector("#tue-options");
        const wed_choice = document.querySelector("#wed-options");
        const thurs_choice = document.querySelector("#thurs-options");
        const fri_choice = document.querySelector("#fri-options");
        const sat_choice = document.querySelector("#sat-options");
        const sun_choice = document.querySelector("#sun-options");
        const wage = document.querySelector("#wage");


        monday.addEventListener('change', function () {
            if (monday.checked) {
                mon_choice.disabled = false;
            } else if (!monday.checked) {
                mon_choice.disabled = true;
            }
        })

        tuesday.addEventListener('change', function () {
            if (tuesday.checked) {
                tue_choice.disabled = false;
            } else if (!tuesday.checked) {
                tue_choice.disabled = true;
            }
        })

        wednesday.addEventListener('change', function () {
            if (wednesday.checked) {
                wed_choice.disabled = false;
            } else if (!wednesday.checked) {
                wed_choice.disabled = true;
            }
        })

        thursday.addEventListener('change', function () {
            if (thursday.checked) {
                thurs_choice.disabled = false;
            } else if (!thursday.checked) {
                thurs_choice.disabled = true;
            }
        })

        friday.addEventListener('change', function () {
            if (friday.checked) {
                fri_choice.disabled = false;
            } else if (!friday.checked) {
                fri_choice.disabled = true;
            }
        })

        saturday.addEventListener('change', function () {
            if (saturday.checked) {
                sat_choice.disabled = false;
            } else if (!saturday.checked) {
                sat_choice.disabled = true;
            }
        })

        sunday.addEventListener('change', function () {
            if (sunday.checked) {
                sun_choice.disabled = false;
            } else if (!sunday.checked) {
                sun_choice.disabled = true;
            }
        })

        fName.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(fName, "First name can't be blank");
            } else {
                setSuccessFor(fName);
            }
        })

        lName.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(lName, "Last name can't be blank");
            } else {
                setSuccessFor(lName);
            }
        })

        address.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(address, "Address can't be blank");
            } else {
                setSuccessFor(address);
            }
        })

        phone.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(phone, "Phone can't be blank");
            }  else if (!this.value.match(/(^[0-9]{10}$)/)){
                setErrorFor(phone, "Phone number can only have 10 digits")
            }
            else {
                setSuccessFor(phone);
            }
        })

        dob.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(dob, "Date of birth can't be blank");
            } else {
                setSuccessFor(dob);
            }
        })

        email.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(email, "Email can't be blank");
            } else {
                setSuccessFor(email);
            }
        })

        bankAccount.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(bankAccount, "Bank account can't be blank");
            } else {
                setSuccessFor(bankAccount);
            }
        })

        sinNumber.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(sinNumber, "SIN number can't be blank");
            } else {
                setSuccessFor(sinNumber);
            }
        })

        wage.addEventListener("input", function (event) {
            if (this.value === '') {
                setErrorFor(wage, "Wage can't be blank");
            } else {
                setSuccessFor(wage);
            }
        })

        function checkInputs() {
            const fNameValue = fName.value.trim();
            const lNameValue = lName.value.trim();
            const addressValue = address.value.trim();
            const phoneValue = phone.value.trim();
            const dobValue = dob.value.trim();
            const emailValue = email.value.trim();
            const bankAccountValue = bankAccount.value.trim();
            const sinNumberValue = sinNumber.value.trim();
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const wageValue = wage.value.trim();

            let success = false;

            if (fNameValue === '') {
                setErrorFor(fName, "First name can't be blank");
                success = false;
            } else {
                setSuccessFor(fName);
                success = true;
            }

            if (lNameValue === '') {
                setErrorFor(lName, "Last name can't be blank");
                success = false;
            } else {
                setSuccessFor(lName);
                success = true;
            }

            if (addressValue === '') {
                setErrorFor(address, "Address can't be blank");
                success = false;
            } else {
                setSuccessFor(address);
                success = true;
            }

            if (phoneValue === '') {
                setErrorFor(phone, "Phone number can't be blank");
                success = false;
            } else if (!phoneValue.match(/^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/)) {
                setErrorFor(phone, "Phone number has to be just numbers")
            } else {
                setSuccessFor(phone);
                success = true;
            }

            if (dobValue === '') {
                setErrorFor(dob, "Date of birth can't be blank");
                success = false;
            } else {
                setSuccessFor(dob);
                success = true;
            }

            if (emailValue === '') {
                setErrorFor(email, "Email can't be blank");
                success = false;
            } else {
                setSuccessFor(email);
                success = true;
            }

            if (bankAccountValue === '') {
                setErrorFor(bankAccount, "Bank account number can't be blank");
                success = false;
            } else {
                setSuccessFor(bankAccount);
                success = true;
            }

            if (sinNumberValue === '') {
                setErrorFor(sinNumber, "SIN number can't be blank");
                success = false;
            } else {
                setSuccessFor(sinNumber);
                success = true;
            }

            if (checkboxes.length === 0) {
                const control = avail.parentElement;
                const small = control.querySelector("small");
                small.innerText = "Availability can't be blank";
                control.className = 'col control error';
                success = false;
            } else if (checkboxes.length !== 0) {
                const control = avail.parentElement;
                control.className = 'col control success';
                success = true;
            }

            if (wageValue === '') {
                setErrorFor(wage, "Wage can't be blank");
                success = false;
            } else {
                setSuccessFor(wage);
                success = true;
            }
            return success;
        }

        function setErrorFor(input, message) {
            const control = input.parentElement.parentElement;
            const small = control.querySelector("small");
            small.innerText = message;
            control.className = 'col control error';
        }

        function setSuccessFor(input) {
            const control = input.parentElement.parentElement;
            control.className = 'col control success';
        }

        form.addEventListener("submit", handleFormSubmit);

        function handleFormSubmit(event) {
            if (!checkInputs()) {
                event.preventDefault();
            } else {
                sendData(event);
            }
        }

        function sendData(event) {
            event.preventDefault();

            const fNameValue = fName.value.trim();
            const lNameValue = lName.value.trim();
            const addressValue = address.value.trim();
            const phoneValue = phone.value.trim();
            const dobValue = dob.value.trim();
            const emailValue = email.value.trim();
            const bankAccountValue = bankAccount.value.trim();
            const sinNumberValue = sinNumber.value.trim();
            const availability = {}
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const periods = document.querySelectorAll('select:enabled');
            for (let i = 0; i < periods.length; i++) {
                availability[checkboxes[i].id] = periods[i].value;
            }
            const wageValue = wage.value.trim();

            const data = {
                firstName: fNameValue,
                lastName: lNameValue,
                address: addressValue,
                phoneNumber: phoneValue,
                dob: dobValue,
                email: emailValue,
                bankAccount: bankAccountValue,
                sinNumber: sinNumberValue,
                availability: availability,
                wage: wageValue
            }

            axios.post('/addEmployee', data)
                .then((result) => {
                    alert(`New employee added successfully!\n\nUserID: ${result.data.userID}\nPassword: ${result.data.password}`);
                })
                .catch((error) => {
                    alert("Oops! Something went wrong. Please, try again.");
                })
        }
    </script>
</body>

</html>
