<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Schedule</title>
</head>

<script text="text/javascript">

  
  function test(){

    const schedulediv = document.getElementById("Schedule")
    

    var samples = [
      {name:"Nick", sunday:"12-5", monday:"12-5", tuesday:"11-3", wednesday:"", thursday:"5-8" , friday:"", saturday:""},
      {name:"Sunny", sunday:"12-5", monday:"12-5", tuesday:"11-3", wednesday:"", thursday:"" , friday:"", saturday:"7-9"},
      {name:"Ivan", sunday:"12-5", monday:"12-5", tuesday:"11-3", wednesday:"", thursday:"" , friday:"1-8", saturday:""},
      {name:"Saeed", sunday:"12-5", monday:"12-5", tuesday:"", wednesday:"4-5", thursday:"" , friday:"", saturday:""},
      {name:"Aifaz", sunday:"12-5", monday:"12-5", tuesday:"11-3", wednesday:"", thursday:"" , friday:"", saturday:""}
    ]

    for (var i = 0; i < samples.length; i++){
      var new_row = document.createElement('tr')
    new_row.id = i;
    schedulediv.append(new_row)

    var name = document.createElement('td')
    name.innerText = samples[i].name

    var sunday = document.createElement('td')
    sunday.innerText = samples[i].sunday

    var monday = document.createElement('td')
    monday.innerText = samples[i].monday

    var tuesday = document.createElement('td')
    tuesday.innerText = samples[i].tuesday

    var wednesday = document.createElement('td')
    wednesday.innerText = samples[i].wednesday

    var thursday = document.createElement('td')
    thursday.innerText = samples[i].thursday

    var friday = document.createElement('td')
    friday.innerText = samples[i].friday

    var saturday = document.createElement('td')
    saturday.innerText = samples[i].saturday

    var add = document.getElementById(i)
    add.append(name, sunday, monday, tuesday, wednesday, thursday, friday, saturday)
    }
    

  };
  
</script>

<style>
  table,th,tr {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
  }

  td {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 15px;
    text-align: left;
  }

  td:hover{
    background-color: rgba(0, 153, 255, 0.863);
  }
</style>

<body onload="test()">
    <div>
    
    <table id = "Schedule" class="table">
  <thead>
    <tr>
      <th scope="col">Employees</th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Sunday</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</body>
</html>