<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addEmployee" method="POST">
        <div id = "something" style="text-align: center">
            <h2>Add Employee</h2>
            <label for="staffFirst">First Name:</label><br>
            <input type="text" name="fName" placeholder="Employee First Name"><br> <br>
            
            <label for="staffLast">Last Name:</label><br>
            <input type="text" name="lName" placeholder="Employee Last Name"><br> <br>

            <label for="staffAdress">Address:</label><br>
            <input type="text" name="address" placeholder="Employee Address"><br> <br>
            
            <label for="staffPhone">Phone Number:</label><br>
            <input type="tel" name="phoneInput" placeholder="(xxx) xxx-xxxx"><br> <br>

            <label for="staffDOB">Date of Birth:</label><br>
            <input type="text" name="date" placeholder="mm/dd/yyyy"><br> <br>

            <label for="staffEmail">Email Address:</label><br>
            <input type="email" name="emailInput" placeholder="abc@something.xyz"><br> <br>
            
            <label for="staffBank">Bank Account:</label><br>
            <input type="number" name="bankAccount" placeholder="Employee BankAcc. No."><br> <br>

            <label for="staffSin">SIN Number:</label><br>
            <input type="number" name="SinNumber" placeholder="Employee SIN Number"><br> <br>

            <label for="staffAvailability">Availability:</label><br>
            <input type="text" name="avail" placeholder="Mon, Sun"><br> <br>

            <label for="staffWage">Wage(Per Hour):</label><br>
            <input type="number" step="0.01" name="wage" placeholder="$$$"><br> <br>

            <button type="submit">Add Employee</button>
        </div>
    </form>
</body>
</html>