<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <h3 class="fw-bold mb-2"> Who are you?</h3>
            <label class="radio-inline">
                <input type="radio" name="optradio" class="radButton" value="1" checked>Owner
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" class="radButton" value="2">Manager
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" class="radButton" value="3">Employee
            </label>

            <h2>Login</h2>
            <p>Please enter your login and password!</p>

            <div>
                <input type="email" name="email" placeholder="Enter your Email"/>
            </div>

            <div>
                <input type="password" name="password" placeholder="Enter your Password"/>
            </div>
            <p href="#!">Forgot password?</p>
            <button type="submit">Login</button>
        </div>
    </form>
    <script src="../server.js" defer></script>
</body>
</html>
