<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <div>
            <h3 class="fw-bold mb-2"> Who are you?</h3>
            <h2>Login</h2>
            <p>Please enter your login and password!</p>

            <div>
                <input type="text" name="userID" placeholder="Enter your ID number"/>
            </div>

            <div>
                <input type="password" name="password" placeholder="Enter your Password"/>
            </div>
            <p href="#!">Forgot password?</p>
            <button type="submit">Login</button>
        </div>
    </form>
    <script src="../server.js" defer></script>
</body>
</html>
