*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: rgb(145, 145, 145); */
  background-color: #f7f7f7;
}

.navbar{
  background-color: #212529 !important;
  width: 100%;
  z-index: 1;
}

.navbar .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  color: white !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.navbar .nav-link:hover{
  color: white;
  text-shadow: 0.1px 0.1px white;
  font-weight: bold;
  font-size: 17px;
}

.navbar-collapse.in {
  display: block !important;
}

.dropdown-item:hover{
  color: white;
  font-weight: bold;
}

.dropdown-menu{
  background-color: #343A40 !important;
  width: 210px !important;
}

#drop1{
  width: 185px !important;
}


.navbar .nav-item.current {
  border-bottom: #750e13 4px solid;
  border-bottom-width: 4px;
  color:white;
  font-weight: bold;
}


#cur {
color: white !important;
font-weight: bold;
border-left: #ff8389 solid;
border-left-width: 4px;
}

#curNei1, #curNei2, #curNei3{
color: white !important;
border-left: #343A40 4px solid;
border-left-width: 5px;
}

#curNei1:hover {
color: white !important;
border-left: #fa4d56 4px solid;
border-left-width: 4px;
}
#curNei2:hover {
color: white !important;
border-left: #da1e28 4px solid;
border-left-width: 4px;
}
#curNei3:hover {
color: white !important;
border-left: #a2191f 4px solid;
border-left-width: 4px;
}

#subBut{
  width: 30%;
  background-color: #333;
  border-color: #333;
  font-size: large;
}

#subBut:hover{
  width: 32%;
  background-color: #666;
  font-weight: bold;
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container2 {
  background-color: #fff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.header h1 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-color: black;
}

label{
  font-weight: bold;
  font-size: 16px;
}

.control label {
  display: inline-block;
  margin-bottom: 5px;
}

.control.success input {
  border-color: #2ecc71;
}

.control.error input {
  border-color: #e74c3c;
}

.fa, .fa-solid, .fa-regular {
  font-size: 24px;
}

.control small {
  visibility: hidden;
}

.control.error small {
  visibility: visible;
  color: #e74c3c;
}

.form button {
  color: white;
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
}


.dropdown-menu li:first-child:hover {
  background-color: #ff8389;   
}
.dropdown-menu li:nth-child(2):hover {
  background-color: #fa4d56;   
}
.dropdown-menu li:nth-child(3):hover {
  background-color: #da1e28;   
}
.dropdown-menu li:nth-child(4):hover {
  background-color: #a2191f;   
}
.dropdown-menu li:nth-child(5):hover {
  background-color: #750e13;   
}
.dropdown-menu li:nth-child(6):hover {
  background-color: #520408;   
}

.navbar-nav li:first-child:hover {
  background-color: #ff8389;   
}
.navbar-nav li:nth-child(2):hover {
  background-color: #fa4d56;   
}
.navbar-nav li:nth-child(3):hover {
  background-color: #da1e28;   
}
.navbar-nav li:nth-child(4):hover {
  background-color: #a2191f;   
}
.navbar-nav li:nth-child(5):hover {
  background-color: #750e13;   
}
.navbar-nav li:nth-child(6):hover {
  background-color: #520408;   
}

.buttons li:first-child:hover{
  background-color: #212529;
}

.buttons li:nth-child(2):hover{
  background-color: #212529;
}

.icon{
  font-size: 15px;
  margin-right: 3px;
}

.prof-btn{
  display: block;
  width: 100px !important;
  height: 35px !important;
  background-color: #6da1f0 !important;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: white !important;
}

.prof-btn:hover{
  background-color: #2f4361 !important;
  border-color: black !important;
}

.log-btn {
  display: block;
  width: 100px !important;
  height: 35px !important;
  background-color: #24389b !important;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: white !important;
}

.log-btn:hover{
  background-color: #071a36 !important;
  border-color: black !important;
}


.modal-confirm {		
  color: #434e65;
  width: 400px;
  margin: 30px auto;
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #6cbf6c;
  border-bottom: none;   
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}

#closingBtn{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  background-color: #6cbf6c !important;
  color: black !important;
  border: none !important;
}


#okIcon{
  margin-top: 2px !important;
}

.modal-confirm .icon-box {
  color: #fff;		
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}

.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #ee9f00;
  outline: none;
}
.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}