* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {

    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

}

.navbar {
    background-color: #212529 !important;
    width: 100%;
    z-index: 1;
}

.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    color: white !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.navbar .nav-link:hover {
    color: white;
    text-shadow: 0.1px 0.1px white;
    font-weight: bold;
    font-size: 17px;
}

.dropdown-item:hover {
    color: white;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #343A40 !important;
    width: 210px !important;
}

#drop1 {
    width: 185px !important;
}

.navbar-collapse.in {
    display: block !important;
}

.navbar .nav-item.current {
    border-bottom: #750e13 5px solid;
    border-bottom-width: 5px;
    color: white;
    font-weight: bold;
}

.navbar-item {
    max-height: 50%;
}

#cur {
    color: white !important;
    font-weight: bold;
    border-left: #a2191f solid;
    border-left-width: 4px;
}

#subBut {
    width: 30%;
    background-color: #333;
    border-color: #333;
    font-size: large;
}

#subBut:hover {
    width: 32%;
    background-color: #666;
    font-weight: bold;
}

.cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu li:first-child:hover {
    background-color: #ff8389;
}

.dropdown-menu li:nth-child(2):hover {
    background-color: #fa4d56;
}

.dropdown-menu li:nth-child(3):hover {
    background-color: #da1e28;
}

.dropdown-menu li:nth-child(4):hover {
    background-color: #a2191f;
}

.dropdown-menu li:nth-child(5):hover {
    background-color: #750e13;
}

.dropdown-menu li:nth-child(6):hover {
    background-color: #520408;
}

.navbar-nav li:first-child:hover {
    background-color: #ff8389;
}

.navbar-nav li:nth-child(2):hover {
    background-color: #fa4d56;
}

.navbar-nav li:nth-child(3):hover {
    background-color: #da1e28;
}

.navbar-nav li:nth-child(4):hover {
    background-color: #a2191f;
}

.navbar-nav li:nth-child(5):hover {
    background-color: #750e13;
}

.navbar-nav li:nth-child(6):hover {
    background-color: #520408;
}

.buttons li:first-child:hover {
    background-color: #212529;
}

.buttons li:nth-child(2):hover {
    background-color: #212529;
}

.icon {
    font-size: 15px;
    margin-right: 3px;
}

.prof-btn {
    display: block;
    width: 100px !important;
    height: 35px !important;
    background-color: #6da1f0 !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: white !important;
}

.prof-btn:hover {
    background-color: #2f4361 !important;
    border-color: black !important;
}

.log-btn {
    display: block;
    width: 100px !important;
    height: 35px !important;
    background-color: #24389b !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: white !important;
}

.log-btn:hover {
    background-color: #071a36 !important;
    border-color: black !important;
}

#content {
    width: 100%;
    max-width: 100%;
    padding: 0;
}